:root {
    --portfolio-card-dim: 300px;
    --portfolio-card-padding: 20px;
}

body {
    padding: 15px 0;
    margin: auto;
    width: 800px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

header {
    text-align: center;
    padding-bottom: 30px;
}

.header-intro a {
        background: linear-gradient(to right, #f5ce62, #e43603, #fa7199, darkred);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

/* PORTFOLIO CONTAINER, PORTFOLIO CARD */
.portfolio-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.portfolio-card {
    position: relative;
    box-sizing: border-box;
    padding: var(--portfolio-card-padding);
    width: var(--portfolio-card-dim);
    height: var(--portfolio-card-dim);
    background-color: beige;
    margin: 0 auto 25px;
}

.portfolio-card img {
    display: block;
    width: 100%;
    height: 90%;
}

.portfolio-card p {
    margin: 5% 0;
}

.card-modal {
    position: absolute;
    object-fit: contain;
    top: 0px;
    left: 0px;
    opacity: 0;
    /* transition-property: opacity;
    transition-duration:  2s;
    transition-delay: 1s; */
}

.card-modal:hover {
    opacity: 0.85;
    transition-property: opacity;
    transition-duration:  1s;
    transition-delay: .05s;
}

/* */
/* */
/* */
/* MEDIA */
@media (pointer:coarse), (pointer:none), (max-width:800px) {
    body {
        padding: 2vh 0;
        width: 90%;
        font-size: 6vw;
    }

    header {
        padding-bottom: 2vh;
    }

    .header-intro {
        margin-bottom: 2vh;
    }

    /* PORTFOLIO CONTAINER, PORTFOLIO CARD */
    .portfolio-container {
        margin: auto;
        width: 90vw;
        font-size: 4vw;
    }

    .portfolio-card {
        width: 42.5vw;
        height: 42.5vw;
        padding: 25px;
    }

    .portfolio-card p {
        margin: 2.5% 0;
    }
}