:root {
    --portfolio-card-dim: 300px;
    --portfolio-card-padding: 20px;
    --portfolio-card-perc-height: 90%;

    --portfolio-card-opacity: 0.75;
    --portfolio-card-transition-duration: .7s;
    --portfolio-card-transition-delay: .025s;

    --portfolio-card-info-overlay-padding: 15px;
    --portfolio-card-info-overlay-margin: 20px;

    --portfolio-card-dim-media: 42.5vw;
    --portfolio-card-perc-height-media: 85%;
}

body {
    padding: 15px 0;
    margin: auto;
    width: 800px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

header {
    text-align: center;
    padding-bottom: 30px;
}

.header-intro a {
        background: linear-gradient(to right, #f5ce62, #e43603, #fa7199, darkred);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

/* PORTFOLIO CONTAINER, PORTFOLIO CARD */
.portfolio-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.portfolio-card {
    position: relative;
    box-sizing: border-box;
    padding: var(--portfolio-card-padding);
    width: var(--portfolio-card-dim);
    height: var(--portfolio-card-dim);
    background-color: beige;
    margin: 0 auto 25px;
}

/* PORTFOLIO CARD IMAGE */
.portfolio-card img {
    display: block;
    width: 100%;
    height: var(--portfolio-card-perc-height);
}

.portfolio-card img:hover {
    opacity: 1;
    transition-property: opacity;
    transition-duration: var(--portfolio-card-transition-duration);
    transition-delay: var(--portfolio-card-transition-delay);
}

.card-blur {
    opacity: var(--portfolio-card-opacity);
    transition-property: opacity;
    transition-duration: var(--portfolio-card-transition-duration);
    transition-delay: var(--portfolio-card-transition-delay);
}

.card-modal {
    position: absolute;
    object-fit: contain;
    top: 0px;
    left: 0px;
    opacity: 0;
    z-index: 1;
}

.card-image {
    z-index: -1;
}

/* CARD TITLE */
.card-title {
    margin: 5% 0;
}

.card-title:hover {
    cursor: pointer;
}

/* CARD INFO */
.card-info {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;;
    position: absolute;
    left: 0;
    right: 0;
    margin: calc(-1 * var(--portfolio-card-padding)) auto 0;
    background-color: darkblue;
    border: black solid 1px;
    width: 70%;
    height: calc(.9 * (var(--portfolio-card-dim) - 1 * var(--portfolio-card-padding)));
    border-radius: 8px;
    font-weight: 300;
	
    z-index: -1;
}

.card-info-overlay {
    display: grid;
    width: calc(100% - var(--portfolio-card-info-overlay-padding));
    height: calc(100% - var(--portfolio-card-info-overlay-padding));
    border-radius: 8px;
    background-color: whitesmoke;
}

.card-info-overlay p {
    margin-left: var(--portfolio-card-info-overlay-margin);
    margin-right: var(--portfolio-card-info-overlay-margin);
    height: 40px;
}

.card-info-overlay p:first-child {
    margin: var(--portfolio-card-info-overlay-margin);
}

.card-info-overlay p:last-child {
    margin-bottom: var(--portfolio-card-info-overlay-margin);
}


.card-info-title {
    font-weight:400;
    color:red;
}

/* HELPERS */

.disabled-anchor {
    pointer-events: none;
    cursor: default;
}

.screen-modal {
    position: absolute;
    width: 100%;
    height: 100%;
}

.modal-active {
    z-index: 2;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/* MEDIA */
@media (pointer:coarse), (pointer:none), (max-width:800px) {
    body {
        padding: 2vh 0;
        width: 90%;
        font-size: 6vw;
    }

    header {
        padding-bottom: 2vh;
    }

    .header-intro {
        margin-bottom: 2vh;
    }

    /* PORTFOLIO CONTAINER, PORTFOLIO CARD */
    .portfolio-container {
        margin: auto;
        width: 90vw;
        font-size: 4vw;
    }

    .portfolio-card {
        width: var(--portfolio-card-dim-media);
        height: var(--portfolio-card-dim-media);
        padding: 25px;
    }

    .portfolio-card img {
        height: var(--portfolio-card-perc-height-media);
    }

    .card-title {
        margin: 5% 0;
    }

    .card-modal {
        visibility: hidden;
    }

    /* CARD INFO */
    .card-info {
        display: block;
        overflow: auto;
        height: auto;
        
    }

    .card-info-overlay {
        /* width: calc(100% - 2 * var(--portfolio-card-info-overlay-margin)); */
        margin-left: auto;
        margin-right: auto;
        /* border: darkblue solid 20px; */
        /* border: darkblue solid 15px; */
    }

    .card-info-overlay p {
        height: fit-content;
    }
}
